-# Add note form
= simple_form_for :note do |f|
  .page-header
    %h1
      Take a note!
      %small and let us remember it for you :)
  .form-inputs
    - if @old_text.nil?
      = f.input :text, :autofocus => true, :placeholder => 'Create a note...', :label => false, :as => :note
    - else
      = f.input :text, :autofocus => true, :value => @old_text, :label => false, :as => :note
  #add-note-button
    %button.btn.btn-primary.btn-large.span{:name => "commit", :type => "submit"}
      %i.icon-pencil.icon-white
      Add note
%hr
-# Notes list
.notes-list
  - unless @notes.blank?
    - @notes.each do |note|
      .note
        .well{:style => "background-color: #{cycle('#CFD2E0', '#DFE1E9', '#EBECF0', '#F2F2F3', '#F8F8F8', '#F2F2F3', '#EBECF0', '#DFE1E9')}"}
          %strong.note-title= raw note.title
          %p.note-text= raw note.html_text
          .note-delete-button.pull-right= link_to(raw("<i class='icon-trash'></i>"), note_path(note), :method => :delete, :data => { :confirm => 'Do you want to delete the note?' })
          .note-edit-button.pull-right= link_to(raw("<i class='icon-edit'></i>"), edit_note_path(note))
          .note-last-edit.pull-left= link_to note.updated_at.strftime("%B %d, %Y"), note_path(note)
    -#%blockquote.pull-left
    -#  %p
    -#    %strong
    -#      %abbr.initialism{:title => "12 del 3 de 2012"} Tienes que esforzarte
    -# %p No notes yet... What's in your mind? Write it down!
    -#  %small 12 del 3 de 2012