%h2 Sign up
= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  = f.error_notification
  .well
    = f.input :email, :autofocus => true, :placeholder => 'user@example.com', :required => false
    = f.input :username, :placeholder => 'What should we call you?', :required => false
    = f.input :password, :required => false
    = f.input :password_confirmation, :required => false
    = f.input :opt_in, :label => false, :inline_label => "I agree with the Anotar.me"
    %label= link_to('Terms of Service', '/legal/service.html') +" and "+ link_to('Privacy Policy', '/legal/privacy.html')
    = f.button :submit, "Sign up"
= render "devise/shared/links"