.page-header
  %h1
    Search results
    %small= "(Found #{if @hashtags.nil? then "0" else @hashtags.size end} hashtags)"
-# Hashtags list
%ul.unstyled.nav.nav-tabs.nav-stacked.hashtag-list
  -unless @hashtags.blank?
    - @hashtags.each do |tag|
      %li= raw "<a href='/hashtags/#{tag.name}'># #{tag.name}</a>"
%a.btn.btn-info.btn-large.btn-block{ :href => notes_path }
  %i.icon-home.icon-white
  Return