.page-header
  %h1
    = raw ("Search results for <a href='/hashtags/#{@hashtag_name}'>##{@hashtag_name}</a>")
    %small= "(Found #{if @notes.nil? then "0" else @notes.size end} notes)"
-# Paginate hidden counters
%input#current_page{:type => 'hidden'}
%input#show_per_page{:type => 'hidden'}
-# Notes list
#content
  - unless @notes.blank?
    - @notes.each do |note|
      .note
        .well{:style => "background-color: #FFFCB6"}
          %h4.note-title
            - note_title = ""
            - if note.fav then note_title << " <i class='icon-star' title='Favorited with @fav@'></i>  " end
            - note_title << note.title
            = raw note_title
          %p.note-text= raw note.html_text
          .note-delete-button.pull-right= link_to(raw("<i class='icon-trash'></i>"), note_path(note), :method => :delete, :data => { :confirm => 'Do you want to delete the note?' })
          .note-edit-button.pull-right= link_to(raw("<i class='icon-edit'></i>"), edit_note_path(note))
          - if note.shared
            .shared-link.pull-right{:title => "Shared with @public@"}= raw ("<i class='icon-globe'></i> at <i>http://www.anotar.me" + note_path(note) + "</i>")
          .note-last-edit.pull-left= link_to note.updated_at.in_time_zone("Madrid").strftime("%B %d, %Y at %I:%M %p"), note_path(note)
- unless @notes.blank? || @notes.size <= 5
  .pagination.pagination-centered#page_navigation