%a.btn.btn-navbar{:'data-toggle' => "collapse", :'data-target' => ".nav-collapse"}
  %span.icon-bar
  %span.icon-bar
  %span.icon-bar
%a.brand{:href => root_path}
  %i.icon-pencil.icon-white
  Anotar!
.nav-collapse
  %ul.nav
    %li.active= link_to 'Home', root_path
    %li= link_to 'About', '/legal/about.html'
    %li= link_to 'Contact', 'mailto:anotar.me@gmail.com'
  %form.navbar-search.pull-left{:action => '/hashtags/nav', :method => 'get', :id => 'hashtags_search', :novalidate => 'novalidate'}
    %input.search-query.span2{:type => "text", :placeholder => "Hashtag search", :name => 'name', :id => 'name'}
  %ul.nav.pull-right
    - if user_signed_in?
      %li.navbar-text= current_user.email
      %li.divider-vertical
      %li
        .btn-group
          %a.btn.dropdown-toggle.hidden-phone.hidden-tablet{:'data-toggle' => "dropdown", :href => "#"}
            %i.icon-cog
            Settings
          %ul.dropdown-menu
            %li
              %a{:href => edit_user_registration_path}
                %i.icon-wrench
                Edit account
            %li= link_to(raw("<i class='icon-off'></i>  Logout"), destroy_user_session_path, :method => :delete)
    - else
      %li
        .navbar-btn-span
          %a.btn.btn-success{:href => new_user_session_path}
            %i.icon-user.icon-white
            Login
      %li
        %div
          %a.btn.btn-info{:href => new_user_registration_path}
            %i.icon-flag.icon-white
            Sign up