.menu
  %h2 Menu
  .well.sidebar-nav{:style => "padding: 8px 0;"}
    %ul.nav.nav-list
      %li.nav-header Categories
      %li.sidebar-link
        %a{:href => notes_path}
          %i.icon-pencil
          = " Write a note"
      %li.sidebar-link
        %a{:href => notes_all_path}
          %i.icon-inbox
          = " All your notes"
      %li.sidebar-link
        %a{:href => notes_favorited_path}
          %i.icon-star
          = " Favorites"
      %li.sidebar-link
        %a{:href => notes_shared_path}
          %i.icon-globe
          = " Public notes"
      %li.sidebar-link
        %a{:href => hashtags_path}
          %i.icon-tags
          = " Hashtags view"
      %li.sidebar-link
        %a{:href => hashtag_path(:name => 'todo')}
          %i.icon-ok
          = " #TODO notes"
      %li.nav-header Tag your note
      %li
        %pre <darker>@title{My note}</darker> <gray>Gives it a title</gray>
      %li
        %pre <darker>@fav@</darker> <gray>Adds it to your favorites</gray>
      %li
        %pre <darker>@public@</darker> <gray>Makes a link for sharing</gray>
      %li.nav-header Style markups
      %li
        %pre <darker>*word*</darker> <gray>Will <b>bold</b> it</gray>
      %li
        %pre <darker>_word_</darker> <gray>Will <i>italic</i> it</gray>